.alert {
    min-width: 200px;
    padding: 10px;
    text-align: center;
}

.alert__message {
    padding-bottom: 25px;
}

.alert__buttons {
    display: flex;
    justify-content: space-between;
}

.alert__buttons button {
    text-align: center;
    width: 47%;
}