.input {
    padding: 5px 15px;
    border: 1px solid mediumpurple;
    border-radius: 4px;
}

.input:focus-within {
    outline: 1px solid mediumpurple;
}

.text-area {
    min-width: 400px;
    min-height: 250px;
    resize: none;
}